@page "/tournoi/add"
@inject TournoiService TournoiService
@inject NavigationManager NavigationManager
<PageTitle>Ajouter un nouveau tournoi</PageTitle>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-8">
                <label for="Nom" class="control-label">Nom</label>
                <input form="Nom" class="form-control" @bind="@tournoi.Nom" />
            </div>
            <div class="col-md-8">
                <label for="Cashprize" class="control-label">Cashprize</label>
                <input form="Cashprize" class="form-control" @bind="@tournoi.CashPrize" />
            </div>
            <div class="col-md-8">
                <label for="Point" class="control-label">Point</label>
                <input form="Point" class="form-control" @bind="@tournoi.Point" />
            </div>
            <div class="col-md-8">
                <label for="DateDebut" class="control-label">Date de début</label>
                <input form="DateDebut" class="form-control" @bind="@tournoi.DateDebut" />
            </div>
            <div class="col-md-8">
                <label for="DateFin" class="control-label">Date de fin</label>
                <input form="DateFin" class="form-control" @bind="@tournoi.DateFin" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@AddTournoi" value="Ajouter" />
                <input type="button" class="btn btn-secondary" @onclick="@End" value="Annuler" />
            </div>
        </div>
    </div>
</form>
@code {
    Tournoi tournoi = new Tournoi();
    protected override void OnInitialized()
    {
        tournoi.DateDebut = DateOnly.FromDateTime(DateTime.Now);
        tournoi.DateFin = DateOnly.FromDateTime(DateTime.Now);
    }
    protected void AddTournoi()
    {
        TournoiService.Add(tournoi);
        End();
    }
    protected void End()
    {
        NavigationManager.NavigateTo("");
    }
}
