@page "/joueur/stat"
@inject JoueurService JoueurService
@inject EquipeService EquipeService
@inject PaysService PaysService
@inject NavigationManager NavigationManager

<h3>Classement des joueurs selon leur statistiques</h3>
<div class="col-md-8">
    <label for="Region" class="control-label">Filtre</label>
    <select form="Region" class="form-control" id="region" name="region" @bind="@f" @onclick="GetStat">
        <option value="nombrekill">Nombre de kills</option>
        <option value="nombremort">Nombre de morts</option>
        <option value="nombremanchejouer">Nombre de manche jouées</option>
        <option value="nombremanchegagnee">Nombre de manches gagnées</option>
    </select>
</div>

<table class="table">
        <thead>
            <tr>
                <th>Cl.</th>
                <th>Pseudonyme</th>
                <th>Nombre de kills</th>
                <th>Nombre de morts</th>
                <th>Nombre de manche jouée</th>
                <th>Nombre de manche gagnée</th>
                <th>Pourcentage manche gagnée</th>
            </tr>
        </thead>
        <tbody>
        @foreach(VJoueurStat v in vjs)
        {
            <tr>
                <td>@(++count)</td>
                <td>@v.Pseudonyme</td>
                <td>@v.NombreKill</td>
                <td>@v.NombreMort</td>
                <td>@v.NombreMancheJouer</td>
                <td>@v.NombreMancheGagnee</td>
                <td>@if (v.NombreMancheJouer != 0)
                    {
                        @(@v.NombreMancheGagnee * 100 / @v.NombreMancheJouer)
                    }%
                </td>
            </tr>
        }            
        </tbody>
    </table>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-secondary" @onclick="@End" value="Retour" />
        </div>
    </div>
</div>

@code {
    VJoueurStat[] vjs;
    string f;
    int count = 0;
    string[] filters = { "nombrekill","nombremort", "nombremanchejouer", "nombremanchegagnee" };

    protected override void OnInitialized()
    {
        f = filters[0];
        GetStat();
    }

    protected void GetStat()
    {
        count = 0;
        vjs = JoueurService.GetAllVJoueurStats(f);
    }

    public void FilterChangeClickEvent(string filter, MouseEventArgs evnt)
    {
        f = filter;
        GetStat();
    }

    protected void End()
    {
        NavigationManager.NavigateTo("joueur");
    }
}
