@page "/equipe/{id}"
@inject EquipeService EquipeService
@inject PaysService PaysService
@inject NavigationManager NavigationManager

<h3>Information de l'équipe @equipe.Nom</h3>
<h4>Liste des joueurs</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Pseudonyme</th>
            <th>Date de naissance</th>
            <th>Salaire</th>
            <th>Pays</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Joueur j in joueurs)
        {
            <tr>
                <td>@j.Nom</td>
                <td>@j.Prenom</td>
                <td>@j.Pseudonyme</td>
                <td>@j.DateNaissance</td>
                <td>@j.Salaire</td>
                <td>@PaysService.GetName(j.IdPays)</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-secondary" @onclick="@End" value="Retour" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string id { get; set; }
    Equipe equipe = new Equipe();
    Joueur[]? joueurs;
    protected override void OnInitialized()
    {
        this.equipe = EquipeService.GetById(Int16.Parse(id));
        joueurs = EquipeService.GetJoueurs(Int16.Parse(id));
    }
    protected void End()
    {
        NavigationManager.NavigateTo("equipe");
    }
}
