@page "/equipe/update/{id}"
@inject EquipeService EquipeService
@inject NavigationManager NavigationManager
@inject JoueurService JoueurService
@inject PaysService PaysService
@inject IJSRuntime IJSRuntime
<PageTitle>Modification d'une équipe</PageTitle>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Nom" class="control-label">Nom</label>
                <input form="Nom" class="form-control" @bind="@equipe.Nom" />
            </div>
            <div class="form-group">
                <label for="Elo" class="control-label">Elo</label>
                <input form="Elo" class="form-control" @bind="@equipe.Elo" />
            </div>
            <div class="form-group">
                <label for="Region" class="control-label">Region</label>
                <select form="Region" class="form-control" @bind="@equipe.Region">
                    <option value="@Region.AMERICAS">@Region.AMERICAS</option>
                    <option value="@Region.PACIFIC">@Region.PACIFIC</option>
                    <option value="@Region.EMEA">@Region.EMEA</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateEquipe" value="Modifier" />
                <input type="button" class="btn btn-secondary" @onclick="@End" value="Annuler" />
            </div>
        </div>
    </div>
</form>
<h3>Listes des joueurs
    <a class="btn btn-primary" href="joueur/freeplayers/@equipe.Id">
        <span class="oi oi-plus"></span>
    </a>
</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Pseudonyme</th>
            <th>Date de naissance</th>
            <th>Salaire</th>
            <th>Pays</th>
            <th>Equipe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Joueur j in joueurs)
        {
            <tr>
                <td>@j.Nom</td>
                <td>@j.Prenom</td>
                <td>@j.Pseudonyme</td>
                <td>@j.DateNaissance</td>
                <td>@j.Salaire</td>
                <td>@PaysService.GetName(j.IdPays)</td>
                @if (j.IdEquipe == null)
                {
                    <td></td>
                }
                else
                {
                    <td>@EquipeService.GetName((Int16)j.IdEquipe)</td>
                }
                <td>
                    <a class="btn btn-danger" href="joueur/leaveteam/@j.Id"><span class="oi oi-delete"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string id { get; set; }
    Equipe equipe = new Equipe();
    Joueur[]? joueurs;

    protected override void OnInitialized()
    {
        this.equipe = EquipeService.GetById(Int16.Parse(id));
        joueurs = EquipeService.GetJoueurs(Int16.Parse(id));
    }
    protected void UpdateEquipe()
    {
        try
        {
            EquipeService.Update(equipe);
        }
        catch(Exception e)
        {
            IJSRuntime.InvokeVoidAsync("alert", e.Message);
        }
        End();
    }

    protected void End()
    {
        NavigationManager.NavigateTo("equipe");
    }

}

