@page "/equipe/update/{id}"
@inject EquipeService EquipeService
@inject NavigationManager NavigationManager
<PageTitle>Modification d'une équipe</PageTitle>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Nom" class="control-label">Nom</label>
                <input form="Nom" class="form-control" @bind="@equipe.Nom" />
            </div>
            <div class="form-group">
                <label for="Elo" class="control-label">Elo</label>
                <input form="Elo" class="form-control" @bind="@equipe.Elo" />
            </div>
            <div class="form-group">
                <label for="Region" class="control-label">Region</label>
                <select form="Region" class="form-control" @bind="@equipe.Region">
                    <option value="@Region.AMERICAS">@Region.AMERICAS</option>
                    <option value="@Region.PACIFIC">@Region.PACIFIC</option>
                    <option value="@Region.EMEA">@Region.EMEA</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateEquipe" value="Modifier" />
                <input type="button" class="btn btn-secondary" @onclick="@End" value="Annuler" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string id { get; set; }
    Equipe equipe = new Equipe();

    protected override void OnInitialized()
    {
        this.equipe = EquipeService.GetById(Int16.Parse(id));
    }
    protected void UpdateEquipe()
    {
        EquipeService.Update(equipe);
        End();
    }

    protected void End()
    {
        NavigationManager.NavigateTo("equipe");
    }
}

